@import "tailwindcss";
@layer theme, base, components, utilities;

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-[#dfe0e2] dark:bg-gray-600;
}

@layer utilities {
  .pulse-sync {
    animation-duration: 5s !important;
    animation-delay: 0s !important;
  }
}

@layer components {
  .button {
    @apply flex items-center justify-center w-40 h-10 cursor-pointer text-xl;
  }
  .hamburger {
    @apply w-8 bg-gray-700 dark:bg-white h-1 rounded-2xl;
  }
  .navLink {
    @apply cursor-pointer transition-all duration-500 ease-out 
           transform hover:scale-105 hover:-translate-y-1;
  }
  .small {
    @apply flex flex-row w-3/4 content-center space-x-3 justify-center px-5 py-3 rounded-xl;

    @apply border-2 border-gray-500 bg-gray-100 dark:bg-gray-700 dark:border-white;

    @apply md:border-0 md:bg-transparent md:text-gray-700 md:dark:text-white;
  }
  .outsideStyle {
    @apply font-medium flex flex-col p-5 border-2 rounded-lg shadow-lg shadow-gray-400/30 items-center space-y-3 text-lg border-gray-400 dark:border-gray-300;
  }
  .insideStyle {
    @apply flex flex-row w-full space-x-3 justify-between px-5 border-2  py-3 rounded-xl border-gray-400 dark:border-gray-300;
  }
  .pageButton {
    @apply bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600  disabled:bg-gray-400 cursor-pointer;
  }
  .statText {
    @apply text-gray-800 font-bold;
  }
  .gridPokemonList {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-5;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

body.modal-open {
  filter: blur(5px);
}
